*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
button{
    color: whitesmoke;
    background-color: #1a73e8;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 30px;
}